<!-- templates/qr_code/index.html.twig -->
<!DOCTYPE html>
<html>
<head>
    <title>QR Code</title>
</head>
<body>
    <h1>Voici votre QR Code</h1>
    <img src="{{ qr_code_data_uri }}" alt="QR Code" />
</body>
</html>
