{% extends 'base.html.twig' %}

{% block title %}Définir votre mot de passe{% endblock %}

{% block body %}
    <h1>Définir votre mot de passe</h1>

    {% if app.flashes('error') %}
        <div class="alert alert-danger">
            {{ app.flashes('error')|first }}
        </div>
    {% endif %}

    <form method="post">
        <div class="form-group">
            <label for="password">Mot de passe :</label>
            <input type="password" name="password" id="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Valider</button>
    </form>
{% endblock %}