{% extends 'admin/base_back.html.twig' %}

{% block title %}New ParametresViteaux{% endblock %}

{% block body %}
    <h1>Create new ParametresViteaux</h1>

    {{ include('parametres_viteaux/_form.html.twig') }}

    <a href="{{ path('app_parametres_viteaux_index') }}">back to list</a>
{% endblock %}
